.home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}

.home-m {
    border-radius: 10px;
    padding: 25px;
    height: 420px;
    
    width: 400px;
    background-color: rgba(204, 153, 180, 0.538);
}