header {
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(221, 219, 219); */
    height: 60px;

}


a {
    text-decoration: none;
}


span {

    font-size: 22px;
    margin-left: 15px;

}

.log {
    font-size: 15px;
    margin-right: 5px;

}

div span {
    font-size: 18px;
    padding: 20px 16px;
    font-weight: bold;

}

.nav {
    overflow: hidden;
    background: #333;
    height: 55px;

}

div span:hover {
    color: #000;
    background: #ddd;
    color: lightblue;
}


.page {
    color: white;

}

.pp {
    font-size: 25px;
    margin-top: 10px;
    margin-left: 5px;
    font-weight: bold;

}